        body {
          /* background-color: #f8f9fa; */
          background-color: yellow;

        }

        .container {
          margin-top: 50px;

          /* background-color: red; */
        }



        .content {
          float: left;
          width: 80%;
        }

        .container-form {
          margin-top: 20px;
          background-color: #ffffff;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .container-form h2 {
          font-size: 24px;
          margin-bottom: 20px;
          color: #343a40;
        }

        .form-label {
          font-weight: bold;
        }

        input[type=text],
        input[type=number] {
          width: 100%;
          padding: 12px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ced4da;
          box-sizing: border-box;
          border-radius: 4px;
        }

        input[type=file] {
          width: 100%;
          padding: 12px;
          margin-bottom: 20px;
          display: inline-block;
          border: 1px solid #ced4da;
          box-sizing: border-box;
          border-radius: 4px;
        }

        button {
          background-color: rgba(255, 83, 48, 0.75);
          color: #fff;
          border: 0;
          padding: 15px;
          font-size: 16px;
          border-radius: 6px;
          cursor: pointer;
          width: 100%;
        }


        /* .links a.active {
          background: rgba(255, 83, 48, 0.2);
          color: #ff5330;
        } */

        .container {

          /* background-color: red !important; */
          display: flex;
        }


        .Content {
          width: 100%;
        }

        .links {
          width: auto;
          left: 0;
          position: absolute;
        }



        .links a {
          font-size: large;

          color: #838383;
        }




        .links a:hover {
          /* background: rgba(255, 83, 48, 0.2);
          color: #838383; */

          background-color: rgba(255, 255, 255, .3);
          color: #fff;
        }


        /* .nav-link.active {
          background-color: orange;
        } */


        .links {
          width: 100%;
          height: 100vh;
          background-color: black;
        }


        .links a {
          text-align: center;
          width: 100%;
          padding: 20px 0px 20px 0px;
          color: white;
        }

        .LinksDiv {
          display: flex;
          justify-content: center;
        }